/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0px;
  font-size: 1.5rem;
}

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  @include mat.core-theme($theme);
  @include mat.all-component-themes($theme);
}

.p-datepicker-panel {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: 60vw !important;
  max-height: 90vh !important;
  z-index: 10000 !important;
}

// /* primeflex / primeng touchUI date-picker center override */
// .p-datepicker-touch-ui.p-component-overlay {
//   position: fixed !important;
//   top:  50% !important;
//   left: 50% !important;
//   transform: translate(-50%, -50%) !important;
//   /* optional: constrain max size */
//   max-width: 90vw !important;
//   max-height: 90vh !important;
// }

// .p-datepicker-touch-p.p-component-overlay {
//   position: fixed !important;
//   top:  50% !important;
//   left: 50% !important;
//   transform: translate(-50%, -50%) !important;
// }
