/* You can add global styles to this file, and also import other style files */

/* Angular Material core styles */
@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5rem;
}

/* Define your Material theme */
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

/* Apply Material theme globally */
html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($theme);
}

/* Center PrimeNG datepicker panel */
.p-datepicker-panel {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: 60vw !important;
  max-height: 90vh !important;
  z-index: 10000 !important;
}
